<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Synix_Control_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Synix_Control_Panel.Properties.Settings>
            <setting name="PrivacyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomBackupPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="enableRunAsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxBackups" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowServerWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckDDoS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisablePremadeConfigurationsForDevelopment" serializeAs="String">
                <value>False</value>
            </setting>
        </Synix_Control_Panel.Properties.Settings>
    </userSettings>
</configuration>
